<% provide(:title, @user.name) %>
<% provide(:post_url, '/users/'+params[:id1]+'/messages/'+params[:id2]) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
		</section>
		<section class="stats">
        <%= render 'shared/stats' %>
		</section>
		<%= render 'shared/micropost_form'%>
		<br>
		<br>
		<%= link_to gravatar_for(@you, size: 70), current_user %>
		<p id="you_name_on_messages"><%= @you.name %></p>
		<span><%= link_to "view \"#{@you.name}\" profile", @you %></span>
	</aside>
	<div class="col-md-8">
    <% if !@microposts.nil? %>
      <h3>Microposts (<%= @microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
    <% end %>
  </div>
</div>